body{
    font-family: 'playfair Display',  serif;
    margin: 0;
    padding: 0;
    background-color: #fffef0;
    color: #4a0e2e;
}

header{
    background-color: #fdfd96;
    color: #ad1457;
    padding: 20px 0;
    text-align: center;

}

header span{
    display: block;
    font-weight: 700;
    font-style: italic;
    font-size: 1.8rem;
    color: #ad1457;
}

nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #ad1457;
    padding: 10px;
}

nav a{
    color: #fdfd96;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    padding: 5px 15px;
}

nav a:hover{
    color: white;
    text-decoration: underline;
    background-color: #ff69b4;
    border-radius: 5px;
}

main{
    max-width: 840px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

main h1{
    grid-column: 1 / -1;
    text-align: center;
    color: #880e4f;
}

.card{
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
    box-shadow: 2px 2px 8px;
    
}

.card h2{
    background-color: #880e4f;
    color: white;
    margin: 0;
    padding: 12px;
    text-align: center;
}

.card p{
    padding: 20px;
    line-height: 1.6;
}

.profile-img{
    float: right;
    width: 150px;
    height: auto;
    margin: 15px;
    border: 2px solid #db7093;
}

.card p, .card ul{
    padding: 15px;
}

.location-section{
    clear: both;
    padding: 20px;
    background-color: #fffef0;
    border-top: 0;
}

.location-section h4{
    text-align: center;
    color: #ad1457;
    margin-top: 0;
}

.landscape-img{
width: 100%;
height: auto;
border-radius: 5px;
}

.flag-img{
    width: 80px;
    height: auto;
    margin: 10px 0;
}

footer{
    text-align: center;
    padding: 25px;
    background-color: #fdfd96;
    border-top: 5px solid #db7093;
    color: #4a0e2e;
}